<style>
  .main-navbar 
    .nav-menu{
      height: 100% important !important;
    }
</style>
<header class="main-nav">

  <nav>
    <div class="main-navbar">
      <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
      <div id="mainnav">
        <ul class="nav-menu custom-scrollbar">
          <li class="back-btn">
            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
            </div>
          </li>
          <li class="sidebar-main-title">
            <div>
              <h6>General </h6>
            </div>
          </li>
          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
                data-feather="home"></i><span>Dashboard</span></a>
            <ul class="nav-submenu menu-content">
              <li><a href="/admin">Admin</a></li>
            
            </ul>
          </li>

          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
                data-feather="airplay"></i><span>Home</span></a>
            <ul class="nav-submenu menu-content">
              <li><a href="/edithome">Edit Home</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
                data-feather="layout"></i><span>About</span></a>
            <ul class="nav-submenu menu-content">
              <li><a href="/editabout">Edit About</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
                data-feather="airplay"></i><span>Contact Us</span></a>
            <ul class="nav-submenu menu-content">
              <li><a href="/editcontactus">Edit Contact Us</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
                data-feather="command"></i><span>Services</span></a>
            <ul class="nav-submenu menu-content">
              <li><a href="/editservices">Edit Services</a></li>
              <li><a href="/viewservicecards">View / Edit Service Cards</a></li>
              <li><a href="/addservicecard">Add Services Cards</a></li>
            </ul>
          </li>

          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i
            data-feather="command"></i><span>Messages</span></a>
        <ul class="nav-submenu menu-content">
          <li><a href="/viewmessages">View Messages</a></li>
        </ul>
      </li>
        </ul>
      </div>
      <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </div>
  </nav>
</header>