<header class="theme-header">
    <!-- header Navigation -->
    <div class="header-navigation navigation-style-v3">
        <div class="nav-overlay"></div>
        <div class="container-fluid">
            <div class="primary-menu">
                <div class="site-branding">
                    <a href="/" class="brand-logo"><img src="/static/images/logo/logo-1.png" alt="Site Logo"></a>
                   
                </div>
                <div class="nav-menu nav-ml-auto">
                    <!-- Navbar Close -->
                    <div class="navbar-close"><i class="far fa-times"></i></div>
                    <!-- Nav Search -->
                    <div class="nav-search">
                        <form>
                            <div class="form_group">
                                <input type="email" class="form_control" placeholder="Search Here" name="email" required>
                                <button class="search-btn"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <ul>
                            <li class="menu-item"><a href="/" class="active nav-link">Home</a></li>
                            <li class="menu-item"><a href="/services" class="nav-link">Services</a></li>
                            <li class="menu-item"><a href="/about" class="nav-link">About</a></li>
                            <li class="menu-item"><a href="/contactus" class="nav-link">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right-nav">
                    <ul>
            
                        <li class="bar-item"><img src="/static/images/bar.png" alt=""></li>
                        <li class="navbar-toggle-btn">
                            <div class="navbar-toggler">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header><!--====== End Header Section ======-->